<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.Search</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NavBar</servlet-name>
		<servlet-class>it.ship.servlets.gestioneSistema.NavBar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reg</servlet-name>
		<servlet-class>it.ship.servlets.gestioneUtente.RegistrazioneUtente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InserimentoAlbumServlet</servlet-name>
		<url-pattern>/InserimentoAlbumServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InserimentoAlbumServlet</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.RichiestaAlbum</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminaRichieste</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.EliminaRichieste</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>View</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.VisualizzaAlbum</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/View</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DettagliAlbum</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.DettagliAlbum</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>it.ship.servlets.gestioneUtente.LogIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>it.ship.servlets.gestioneUtente.LogOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>it.ship.servlets.gestioneSistema.Home</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Notizie</servlet-name>
		<servlet-class>it.ship.servlets.gestioneNews.Notizie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Carrello</servlet-name>
		<servlet-class>it.ship.servlets.gestioneCarrello.Carrello</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteItem</servlet-name>
		<servlet-class>it.ship.servlets.gestioneCarrello.DeleteItem</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>End</servlet-name>
		<servlet-class>it.ship.servlets.gestioneCarrello.Acquista</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogInAdmin</servlet-name>
		<servlet-class>it.ship.servlets.gestioneUtente.LogInAdmin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertFeedback</servlet-name>
		<servlet-class>it.ship.servlets.gestioneSistema.InserisciFeedback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertFeedback</servlet-name>
		<url-pattern>/InsertFeedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogInAdmin</servlet-name>
		<url-pattern>/LogInAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>End</servlet-name>
		<url-pattern>/End</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadAlbum</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.UploadAlbum</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllNews</servlet-name>
		<servlet-class>it.ship.servlets.gestioneNews.AllNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadMore</servlet-name>
		<servlet-class>it.ship.servlets.gestioneNews.VisualizzaNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadNews</servlet-name>
		<servlet-class>it.ship.servlets.gestioneNews.UploadNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LiveSearch</servlet-name>
		<servlet-class>it.ship.servlets.gestioneAlbum.LiveSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LiveSearch</servlet-name>
		<url-pattern>/LiveSearch/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadNews</servlet-name>
		<url-pattern>/UploadNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadMore</servlet-name>
		<url-pattern>/ReadMore/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllNews</servlet-name>
		<url-pattern>/AllNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadAlbum</servlet-name>
		<url-pattern>/UploadAlbum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteItem</servlet-name>
		<url-pattern>/DeleteItem/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Carrello</servlet-name>
		<url-pattern>/Carrello/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Notizie</servlet-name>
		<url-pattern>/Notizie/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DettagliAlbum</servlet-name>
		<url-pattern>/DettagliAlbum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reg</servlet-name>
		<url-pattern>/Reg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NavBar</servlet-name>
		<url-pattern>/NavBar/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/pages/home.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/failure.jsp</location>
	</error-page>
</web-app>